/* Сброс отступов и бордеров */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Убираем стандартные стили у списков */
ul,
ol {
  list-style: none;
}

/* Сброс ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Обнуляем заголовки */
h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-weight: inherit;
}

/* Убираем обводку в кнопках */
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* Наследуем шрифты и цвета */
body {
  line-height: 1.5;
  font-family: sans-serif;
  color: #111;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

/* Изображения не выходят за границы */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Убираем фокусную рамку, если не с клавиатуры */
:focus:not(:focus-visible) {
  outline: none;
}
